* {
  box-sizing: border-box;
}

:root {
  --bg:#ffffff;
  --textColor:#111827;
  --btn-bg:transparent;
  --btn-hover-bg:#f3f4f6;
  background:var(--bg);

}

:root[data-theme="dark-mode"] {
    --bg: #0b0f14;
    --textColor:#f9fafb;
    --btn-bg:transparent;
    --btn-hover-bg:#1f2937;
    background:var(--bg);

}

.material-icons{
    color: var(--textColor);
}
